/*
* LAYOUT STYLES
*
* Define CSS classes to create a table-free, 3-column, 2-column, or single
* column layout depending on whether blocks are enabled in the left or right
* columns.
*
* This layout is based on the Border Politics Layout Method.
* http://drupal.org/node/201428
*
* Only CSS that affects the layout (positioning) of major elements should be
* listed here. Such as:
* display, position, float, clear, width, height, min-width, min-height
* margin, border, padding, overflow
*/


/** body **/
body {
	margin: 0;
}

#page {
	/*
	* If you want to make the page a fixed width and centered in the viewport,
	* this is the standards-compliant way to do that. See also the ie.css file
	* for the necessary IE5 hack to center a div.
	*/
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

#page-inner {
}

#navigation-top,
#navigation {
	position: absolute; /* Take the named anchors out of the doc flow */
	left: -10000px; /* and prevent any anchor styles from appearing. */
}

#skip-to-nav {
	float: right;
	margin: 0 !important;
	font-size: 0.8em;
	display: none;
}

#skip-to-nav a:link, #skip-to-nav a:visited {
	color: #fff; /* Same as background color of page */
}

#skip-to-nav a:hover {
	display: none;
	color: #000;
	text-decoration: none;
}

/* Alternatively, the skip-to-nav link can be completely hidden until a user tabs
to the link. Un-comment the following CSS to use this technique. */
/*
#skip-to-nav a, #skip-to-nav a:hover, #skip-to-nav a:visited {
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip-to-nav a:active, #skip-to-nav a:focus {
	position: static;
	width: auto;
	height: auto;
}
*/

/** header **/
#header {
}

#header-inner {
}

#logo-title {
	float: left;
	width:350px;
	overflow: hidden;
}

#logo {
	margin: 0 10px 0 0;
	padding: 0;
	text-align: left;
}

#logo h1 a:link, #logo h1 a:visited {
	line-height: 90px;
	color: #fff;
	border: 4px dashed transparent;
	border-width: 4px 0;
}

#logo h1 a:hover {
	border-color: #EEE;
	color: #6699ee;
}

h1#site-name, div#site-name {
	margin: 0;
	font-size: 2em;
	line-height: 1.3em;
}

#site-slogan {
}

#header-blocks {
	clear: both; /* Clear the logo */
}

#header-right {
	display: block;
	float: right;
	height: 43px;
	margin-right: 0px;
	padding: 10px;
	width: 620px;
	margin-top: 45px;
}

/* This is code name for the sub-menu :) */
#header-right-secondary {
	display: block;
	float: right;
	height: 62px;
	margin: 28px 0 0 0;
	padding: 10px 0 0 10px;
	width: 630px;
}

#search-area {
	width: 640px;
	/* padding: 10px; */
	float: right;
	display: block;
}
#search-area-inside {
	height: 24px;
	padding: 10px 0 10px 23px;
}
#main-inner-inner {
	padding: 20px;
}
/** main (container for everything else) **/
#main {
	position: relative;
}

/** content **/
#content-inner {
	margin: 0;
	padding: 0;
}

#content {
	float: left;
	width: 980px;
	margin: 10px;
}

.with-sidebar #content {
	width: 710px;
	float: left;
}

#search-box {
	width: 200px;
	float: left;
}

#secondary {
	margin-left: 2em; /* Width of search-box */
}

#navbar ul /* Primary and secondary links */ {
	margin: 0;
	padding: 0;
	text-align: left;
}

#navbar li /* A simple method to get navbar links to appear in one line. */ {
	float: left;
	padding: 0 0px 0 0;
}

/** sidebar-right **/
#sidebar-right {
	margin-top: 10px;
	float: left;
	width: 220px;
	padding: 20px;
}

#sidebar-right-inner {
	margin: 0 0 0 10px;
	padding: 0;
}
