/* Change these colors to alter the look of the site: */
body {
	background-color: #002D73;
}

#header-right, #header-right-secondary {
	background-color: #405980;
}

#search-area {
	background-color:#CFD8E6;
}

#main-inner, #footer-inner {
	background-color: #5678AC;
}
	/* Text area inside main area */
	#mission {
		background-color: #fff;
	}
	#main-inner-inner {
		background-color: #fff;
		padding: 20px;
	}
	#sidebar-right {
		background-color: #EFEFFF;
	}

#page {
	line-height: 1.8;
}

#page-inner {
}

/** header **/
#header {
	height: 90px;
}

#header-inner {
}

#logo-title /* Wrapper for logo, website name, and slogan */ {
}

#logo /* Wrapper for logo */ {
}
#logo a:link, #logo a:visited {
}

#logo-image /* The actual logo image */ {
	float: left;
	margin-right: 10px;
}

#wrapper {
	padding-top: 20px;
}

#site-name /* The name of the website */ {
}

#site-name a:link,
#site-name a:visited {
	color: #888;
	text-decoration: none;
	border-bottom: none;
	padding-top: 20px;
}

#site-name a:hover {
	text-decoration: underline;
	border-bottom: none;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

#header-blocks /* Wrapper for any blocks placed in the header region */ {
}

/** main (container for everything else) **/
#main {
	clear: both;
}


/** content **/
#content {
}

#content-inner {
}

#mission /* The mission statement of the site (displayed on homepage) */ {
	padding: 10px;
	width: 960px;
	clear: both;
	/* float: left; */
	margin: 10px 10px 0 10px;
	position: relative;
	font-family: "Georgia", "Times New Roman", "Times", serif;
}

#mission .left-quote, #mission .right-quote {
	position: absolute;
	font-size: 136px;
	line-height: 110px;
	color: #E0ECFF;
	top: 10px;
	font-weight: bolder;
	z-index: 0;
}

#mission .left-quote {
	left: 0px;
}

#mission .right-quote {
	right: 0px;
}

#mission-inner {
	font-style: italic;
	color: #6699aa;
	font-size: large;
	z-index: 9;
	padding: 10px 60px 10px 70px;
}

#content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

#content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
	padding-bottom: 0; /* Undo system.css */
	margin-left: -6px;
	color: #fff;
}
.breadcrumb a:link, .breadcrumb a:visited {
	margin-left: 6px;
	color: #fff;
}
h1, h2, h3,
h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
	margin: 0;
	color: #6699cc;
}
h1 a:link, h2 a:link, h3 a:link, h1 a:visited, h2 a:visited, h3 a:visited {
	color: #6699cc;
}
div.messages /* Important messages (status, warning, and error) for the user */ {
	margin: 0 1em 5px 1em;
	border: 2px solid #ccc;
	padding: 5px;
	color: #000;
	background-color: #fff;
	font-style: italic;
}

div.status /* Normal priority messages */ {
}

div.warning /* Medium priority messages */ {
	border-color: #ff7;
}

div.warning, tr.warning {
	color: #000;
	background-color: #ffc;
}

div.error /* High priority messages. See also the .error declaration below. */ {
	border-color: #c00;
}

div.error, tr.error {
	color: #900;
	background-color: #fee;
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
	margin: 1em 0;
}

.more-help-link /* Link to more help */ {
	font-size: 0.85em;
	text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
	clear: both;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
	clear: both;
	margin: 1em 0;
	text-align: center;
}

.pager a, .pager strong.pager-current {
	padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
	margin: 1em 0;
}

#content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/** navbar **/
#navbar {
}

#navbar-inner {
}

#search-box /* Wrapper for the search form */ {
}

#primary /* Primary links */ {
}

#secondary /* Secondary links */ {
}

/** sidebar-right **/
#sidebar-right {
}

#sidebar-right-inner {
}

/** footer **/
#footer {
	margin-bottom: 40px;
}

#footer-inner {
	display: block;
	padding: 10px;
	text-align: center;
	color: silver;
}
#theme-credit {
	display: block;
	text-align: left;
	clear: both;
	vertical-align: middle;
}
#theme-credit img {
	float: left;
	padding-right: 10px;
	margin: 3px 0 0 370px;
}

#theme-credit a:link, #theme-credit a:visited {
	color: #6699dd;
}
#footer-message /* Wrapper for the footer message from Drupal's "Site information"
and for any blocks placed in the footer region */ {
}

/** closure **/
#closure-blocks /* Wrapper for any blocks placed in the closure region */ {
}

/** Drupal nodes **/
.node /* Node wrapper */ {
}

.node-inner /* Additional wrapper for node */ {
}

.sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
	/* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
.comment-unpublished div.unpublished {
	height: 0;
	overflow: visible;
	color: #d8d8d8;
	font-size: 75px;
	line-height: 1;
	font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	/*word-wrap: break-word; A very nice CSS3 property */
}

.node-mine /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-type-FOO class that describes the type of
* content that it is. If you create a new content type called
* "my-custom-type", it will receive a "node-type-my-custom-type" class.
*/
.node-type-page /* Page content node */ {
}

.node-type-story /* Story content node */ {
}

.node h2.title /* Node title */ {
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
	color: #c00;
}

.node .picture /* The picture of the node author */ {
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
	position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .submitted /* The "posted by" information */ {
	color: #999;
	font-style: italic;
}

.node .taxonomy /* Node taxonomy (categories) */ {
}

.node .content /* Node's content wrapper */ {
}

.node div.links /* Wrapper for node links */ {
	margin: 1em 0;
}

ul.links /* Taxonomy links, node links, comment links */ {
	margin: 0;
	padding: 0;
}

ul.links.inline {
	display: inline;
}

ul.links li {
	display: inline;
	list-style-type: none;
	padding: 0 0.5em;
}

.preview .node /* Preview of the content before submitting new or updated content */ {
	/* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

/** Drupal comments **/
#comments /* Wrapper for all comments */ {
	border: 1px dotted silver;
	margin: 1em 0;
	padding: 1em;
}

.comment /* Wrapper for a single comment */ {
	padding: 1em
}

.comment-inner /* Additional wrapper for a single comment */ {
}

.comment.odd /* An odd-numbered comment in the list of comments */ {
}

.comment.even /* An even-numbered comment in the list of comments */ {
	background-color: #efefff;
}

.comment-unpublished /* Unpublished comments */ {
	/* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */ {
}

.comment-by-author /* A comment created by the node's author */ {
}

.comment-by-anon /* A comment created by an anonymous user */ {
}

.comment-mine /* A comment created by the current user */ {
}

.comment h3.title /* Comment title */ {
}

.new /* "New" marker for comments that are new for the current user */ {
	color: #c00;
}

.comment .picture /* The picture of the comment author */ {
}

.comment .submitted /* The "posted by" information */ {
	color: #999999;
	font-style: italic;
}

.comment .content /* Comment's content wrapper */ {
}

.comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */ {
	margin: 1em 0;
}

.indented /* Nested comments are indented */ {
	/* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
}

.preview .comment /* Preview of the comment before submitting new or updated comment */ {
	/* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

/** Drupal blocks **/
.block /* Block wrapper */ {
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

.count-1 /* Incremental count independent of each region */ {
}

.block-inner /* Additional wrapper for block */ {
}

.block h2.title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First administrator-defined block */ {
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book's table of contents */ {
}

#block-comments-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-2 /* "Primary links" block */ {
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page's author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
}

#block-user-2 /* "Who's new" block for a list of the newest users */ {
}

#block-user-3 /* "Who's online" block for a list of the online users */ {
}

/** Drupal boxes **/
/* Wrapper for Comment form, Comment viewing options, Menu admin, and
* Search results.
*/
.box /* Wrapper for box */ {
}

.box-inner /* Additional wrapper for box */ {
}

.box h2.title /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/** Miscellaneous Drupal styles **/
.error /* Errors that are separate from div.messages status messages (see above.) */ {
	color: #c00;
}

.more-link /* Aggregator, blog, and forum more link */ {
	text-align: right;
}

#user-login-form /* Drupal's default login form */ {
	text-align: left;
}

tr.even, tr.odd /* Some tables have rows marked even or odd. See also the ".section-admin #content tr.even" declaration below. */ {
	border-bottom: none;
	padding: 0;
}

tr.even {
	/* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
	/* background-color: #eee; */ /* Drupal core uses a #eee background */
}

li a.active /* The active item in a Drupal menu */ {
	color: #000;
}


/** Drupal forms **/
.form-item, /* Wrapper for a form element (or group of form elements) and its label */
.form-checkboxes,
.form-radios {
	margin: 1em 0;
}

.form-item input.error, /* Highlight the form elements that caused a form submission error */
.form-item textarea.error,
.form-item select.error {
	border: 2px solid #c00;
}

.form-item label /* The label for a form element */ {
	display: block;
	font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
	display: inline;
	font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
	color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
	font-size: 0.85em;
}

.form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
.form-radios .form-item {
	margin: 0.4em 0;
}

.form-submit /* The submit button */ {
}

.container-inline .form-submit {
}

.tips /* Tips for Drupal's input formats */ {
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}

/** Drupal admin tables **/
/* We overrode these styles in html-elements.css, but restore them for the
* admin section of the site.
*/
.section-admin #content tbody {
	border-top: 1px solid #ccc;
}

.section-admin #content th {
	text-align: left;
	padding-right: 1em;
	border-bottom: 3px solid #ccc;
}

.section-admin #content tbody th {
	border-bottom: 1px solid #ccc;
}

.section-admin #content thead th {
	text-align: left;
	padding-right: 1em;
	border-bottom: 3px solid #ccc;
}

.section-admin #content tr.even,
.section-admin #content tr.odd {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	padding: 0.1em 0.6em;
}

div#primary {
	margin-left: 2em;
}

div#primary ul.links {
}

div#primary ul.links li {
	float: left;
	text-align: center;
	padding: .2em 0;
}

div#primary ul.links li.last a {
	border-right-width: 0px;
}

div#primary ul.links a {
	float: left;
	padding: 0 2em;
	/* background: #242424; */
	text-decoration:none;
	color: #C3D9FF;
	font-weight: bolder;
	font-size: 14px;
	border: 1px dashed #6666BB;
	border-width: 0 1px 0px 0px;
}

div#primary ul.links .first a {
	padding-left: 0;
}

div#primary ul.links a:hover {
	color: #FFF;
}

div#primary ul.links li a.active,div#primary ul.links li a.active:hover {
	color: #FFF;
}

#menu {
	display: block;
	clear: both;
	background-color: #eeeeFF;
	height: 20px;
}

#menu ul {
	padding: 0 10px
}

#menu a:link, #menu a:visited {
	border-right: 1px dotted #6699CC;
	color: #6699CC;
	font-weight: normal;
	padding: 3px 1.5em;
	text-decoration: none;
}
#menu .last a:link, #menu .last a:visited {
	border-right: 0px;
}
#menu a:hover {
	color: #ffffff;
	border-bottom: none;
	background-color: #6699cc;
}

a:link {
	color: #002D73;
	border-bottom: 0px dotted #666;
	text-decoration: none;
}

a:visited {
	color: #6085BF;
	border-bottom: 0px dotted silver;
	text-decoration: none;
}

#logo a:visited {
	border-bottom: 0px;
}

a:hover {
	color: #333366;
	border-bottom: 1px solid #333366;
	text-decoration: none;
}

#logo a:hover {
	border-bottom: 0px;
}

.feed-icons a:link, .feed-icons a:visited, .feed-icons a:hover {
	border-bottom: 0px solid #fff;
}

.links .first {
	padding-left: 0;
}

.content-below {
	margin-right: 3%;
	margin-top: 10px;
	float: left;
	width: 30%;
	background-color: #fff;
}

.content-below .block {
	clear: both;
}

ul.nice-menu-down li.menuparent {
	width: 150px;
	background-color: #fefefe;
}

ul.nice-menu-down li {
	width: 150px;
	background-color: #fefefe;
}

ul, li {
	list-style: none;
	list-style-type: none;
}

.block ul, .item-list ul {
	margin: 1em 0pt;
	padding: 0pt 0pt 0pt 15px;
}

.admin dd {
	line-height: 1.55em;
	margin-left: 0pt;
	padding-bottom: 1em;
}

div.admin-panel .body {
	padding: 0pt 4px 2px 0px;
}

.admin dt {
	font-weight: bold;
}

table {
	width: 100%;
}

td {
	padding: 2px 4px;
}

tr.even {
	background-color: #efefef;
}
tr.odd {
	background-color: #fff;
}

html.js .resizable-textarea textarea {
	display: block;
	font-size: 12px;
	margin-bottom: 0pt;
	width: 100%;
}

.node-inner .content img {
	float: left;
	margin: 0 1em .5em 0;
}

pre, code {
	font-family: "Bitstream Vera Sans Mono","Courier New",monospace;
	font-size: 1em;
}

.codeblock pre, .codeblock code {
	border: 1px dotted #88DD88;
	border-width: 1px 0 1px 0;
	background: #EEFFEE url(code.gif) 10px 10px no-repeat;
	display: block;
	padding: 10px 10px 10px 80px;
	overflow: auto;
}


blockquote {
	background: #EEFFEE url(blockquote.gif) 10px 10px no-repeat;
	padding: 10px 10px 10px 80px;
	color: #369901;
	border: 1px dotted #88DD88;
	border-width: 1px 0 1px 0;
	background-color: #efffef;
	display: block;
	font-family: "Georgia","Times New Roman",serif;
}

#content-area .content ul, #content-area .content ul li { list-style-type: disc }